.checkbox2 {
    display: grid;
    place-items: center;
    grid-column: 1;
    grid-row: 2;
    grid-template-rows: 1fr 1fr;
}

#checkbox2inp {
    display: none;
}

#checkboxtex {
    grid-row: 1;
}

#checkbox2lab {
    grid-row: 2;
}

#checkbox2inp + #checkbox2lab {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #ddd;
    background-color: #0066ff;
    display: inline-block;
    content: "";
    float: left;
    transition: background-color 0.5s linear;
}

#checkbox2inp + #checkbox2lab:hover {
    cursor: pointer;
}

#checkbox2inp + #checkbox2lab::before {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    display: block;
    content: "";
    float: left;
    transition: margin 0.1s linear;
    box-shadow: 0px 0px 5px #aaa;
}

#checkbox2inp:checked + #checkbox2lab{
    background-color: #2b8718;
}

#checkbox2inp:checked + #checkbox2lab::before {
    margin: 0 0 0 50px;
}