@import "radio1.css";

.radio-content {
    height: 100%;
    display: none;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 15vw;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1vw 1vw;
}